body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.button {
    display: flex;
    padding: 10px;
    margin: 10px;
}

button:hover {
    transition: 700ms;
    background-color: green;
}

.instructions {
    display: flex;
    flex-direction: column;
    text-align: center;

}

a {
    display: flex;
    text-align: center;
    text-decoration: none;
    font-size: large;
}